#feed-items > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.feed-item {
    min-height: 40px;
    border: 0 solid #ddd;
    border-bottom-width: 1px;
    margin: 20px 0;
}

img.feed-icon {
    position: absolute;
    width: 32px;
    left: -46px;
}